<div class="h-full flex flex-col min-h-0">

  <div class="flex-1 grid grid-cols-1 lg:grid-cols-12 gap-6 pb-6 min-h-0">

    <!-- LEFT -->
    <div class="lg:col-span-4 overflow-y-auto">
      <app-credit-simulation-form
        [clients]="clients()"
        [vehicles]="vehicles()"
        (simulate)="simulate($event)"
      />
    </div>

    <!-- RIGHT -->
    <div class="lg:col-span-8 overflow-y-auto pr-1">
      <app-credit-simulation-result
        [simulation]="simulation()"
        [currency]="currency()"
        [saving]="saving()"
        [saved]="saved()"
        (saveCredit)="createCredit()"
      />
    </div>

  </div>

</div>
